@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background-color: #f8f8f8;


}
.block{
    overflow: hidden;
    &__inner {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
    }
}
.b-articles{
    margin: 30px;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    
}
.swiper{
    padding: 30px;
    background-color: #ffffff;
    max-width: 1200px;
    height: auto;
    position: relative;
    &::before{
        top:90px;
        left: -150px;
        position: absolute;
        content: 'Статьи';
        font-size: 59px;
        letter-spacing: 4px;
        line-height: 62px;
        color: #dfecf2;
        font-weight: 900;
        font-family: "Montserrat";
        transform: rotate(-90deg);
    }
    &-slide{
        display: flex;
        flex-direction: column;
        height: auto;
        font-size: 15px;
        letter-spacing: 0px;
        line-height: 20px;
        color: #000000;
        font-weight: 400;
        font-family: "Roboto";
        position: relative;
        &::after{
            position: absolute;
            right: -25px;
            height: 100%;
            content: '';
            width: 2px;
            background-color: #e5e5e5;
        }
    }
    img{
        height: auto;
        width: 100%;
    }
    .slide{
        &--date{
            color: #848484;
         }
         &--text{
             max-width: 100%;
         }
    }
}

@media screen and (max-width: 1335px){
    .swiper{
        max-width: 90vw;
        &::before{
            opacity: 0;
        }
        
    }

}
@media screen and (max-width: 979px){
    .swiper-slide{
        &::after{
           opacity: 0;
        }
    }
    .slide--title{
        font-size: 14px;
    }
}